<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CheckersPolygon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CheckersPolygon.Resources.Russian" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CheckersPolygon.Properties.Settings>
            <setting name="Language" serializeAs="String">
                <value>0</value>
            </setting>
        </CheckersPolygon.Properties.Settings>
        <CheckersPolygon.Resources.Russian>
            <setting name="Menu_Continue" serializeAs="String">
                <value>Продолжить</value>
            </setting>
            <setting name="Menu_NewGame" serializeAs="String">
                <value>Новая игра</value>
            </setting>
            <setting name="Menu_SaveGame" serializeAs="String">
                <value>Сохранить игру</value>
            </setting>
            <setting name="Menu_LoadGame" serializeAs="String">
                <value>Загрузить игру</value>
            </setting>
            <setting name="Menu_Exit" serializeAs="String">
                <value>Выход</value>
            </setting>
            <setting name="Menu_Title" serializeAs="String">
                <value>Шашки</value>
            </setting>
            <setting name="Main_Menu" serializeAs="String">
                <value>Меню</value>
            </setting>
            <setting name="Mode_Player" serializeAs="String">
                <value>Игрок</value>
            </setting>
            <setting name="Mode_AI" serializeAs="String">
                <value>Компьютер</value>
            </setting>
            <setting name="Mode_Cancel" serializeAs="String">
                <value>Отмена</value>
            </setting>
            <setting name="Mode_Title" serializeAs="String">
                <value>Второй игрок</value>
            </setting>
            <setting name="RegEx_White" serializeAs="String">
                <value>(?i)белы[а-я]</value>
            </setting>
            <setting name="RegEx_Black" serializeAs="String">
                <value>(?i)черны[а-я]</value>
            </setting>
            <setting name="RegEx_Loaded" serializeAs="String">
                <value>(?i)загружена</value>
            </setting>
            <setting name="RegEx_Saved" serializeAs="String">
                <value>(?i)сохранена</value>
            </setting>
            <setting name="RegEx_Won" serializeAs="String">
                <value>(?i)победили</value>
            </setting>
            <setting name="Log_GameSaved" serializeAs="String">
                <value>Игра сохранена</value>
            </setting>
            <setting name="Log_Error_GameSaved" serializeAs="String">
                <value>Запись не удалась.\n</value>
            </setting>
            <setting name="Log_Error" serializeAs="String">
                <value>Ошибка</value>
            </setting>
            <setting name="Log_GameLoaded" serializeAs="String">
                <value>Игра загружена</value>
            </setting>
            <setting name="Log_Error_GameLoaded" serializeAs="String">
                <value>Загрузка не удалась.\n</value>
            </setting>
            <setting name="Log_BlackWon" serializeAs="String">
                <value>Черные победили!</value>
            </setting>
            <setting name="Log_WhiteWon" serializeAs="String">
                <value>Белые победили!</value>
            </setting>
            <setting name="Log_WhiteToilet" serializeAs="String">
                <value>Белые позорно проиграли!</value>
            </setting>
            <setting name="Log_BlackToilet" serializeAs="String">
                <value>Черные позорно проиграли!</value>
            </setting>
            <setting name="Log_Turn" serializeAs="String">
                <value>Ход</value>
            </setting>
            <setting name="Log_MoveTo" serializeAs="String">
                <value>на</value>
            </setting>
        </CheckersPolygon.Resources.Russian>
    </userSettings>
</configuration>